.headerClass{
    overflow: hidden;
    background-color: #ebebeb;
    padding: 20px 10px;
    text-align: center;
};
.headerClass a{

    text-decoration: none;
    display: inline-block;
    color: #965252;
    background-color: #ebebeb;
    margin-left: 25px;

}
.headerClass a:link, a:visited{
    text-decoration: none;
    display: inline-block;
    color: #965252;
    background-color: #ebebeb;
    margin-left: 25px;

}
.headerClass a:hover, a:focus, a:active{
    text-decoration: none;
    display: inline-block;
    color: #180707;
    background-color: #ebebeb;
    margin-left: 25px;

}

/* body {
    background: #f0f0f0;
    margin: 0;
    padding: 0;
    
    font-family: Georgia, serif, 'Trebuchet MS';
    line-height: 20px;
    font-size: 12px;

    color: #222;
} */

h1, h2, h3, h4 {
    margin: 0 0 15px 0;
    padding: 0;
}
h1 {
    font-size: 350%;
}
h2 {
    font-size: 210%;
}
h3 {
    font-size: 130%;
}

p {
    margin: 0 0 10px 0;
}

ul {
    list-style-type: circle;
}
li {
    margin-bottom: 5px;
}
a {
    color: #222;
}
/* ________________________________________________________ */
.rtl {
    direction: rtl;
}
.clear {
    clear: both;
}

#main {
    background: #fff;
    width: 900px;
    padding: 35px;
    margin: 0 auto 15px auto;
    overflow: hidden;
    
    box-shadow: 0 0 6px #ccc;
}

#title {
    line-height: 42px;
    margin: 0px 0 15px 0;
    font-weight: normal;
    text-align: center;
}

#credit {
    margin-bottom: 20px;
    font-size: 11px;
    color: #999;
    text-align: center;
}
    #credit a {
        color: #999;
    }

p label {
    font-weight: bold;
    
    font-size: 110%;
    margin-right: 10px;
}
    p label span.colon {
        display: inline;
    }


.section {
    margin-bottom: 30px;
}

.item {
    margin: 0 0 20px 0;
}

/*  _____________________________ */
.basic-info {
    margin: 0 auto 30px auto;
    width: 80%;
    overflow: hidden;
    text-align: center;
}
.basic-info p {
    margin: 0;
}
.basic-info .dot {
    display: inline;
    font-size: 14px;
    margin: 0 10px;
}

.section .title {
    text-transform: uppercase;
    font-size: 150%;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
    .section .set h3 {
        margin: 0;
    }
.section span.value {
    display: block;
}
.section h3 span.l, .section span.r {
    width: 49%;
    float: left;
}
    .section span.r {
        float: right;
        text-align: right;
    }
    .section-education .school,
    .section-work .job_title {
        font-size: 100%;
        display: block;
        margin: 5px 0 5px 0;
        font-style: italic;
    }

/* ___ photo ___ */
#photo {
    width: 160px;
    height: 200px;
    overflow: hidden;
    float: left;
    margin-top: 8px;
    border-radius: 4px;
}
#photo img {
    width: 100%;
    height: auto;
}
.header.photo {
    margin-left: 190px;
}
.header.photo #title {
    text-align: left;
}
.header.photo .basic-info {
    float: none;
    padding: 0;
    width: auto;
    text-align: left;
}

@media screen and (max-width: 950px) {
    body {
        background: #fff;
    }
    #main {
        box-shadow: none;
        padding: 0;
        padding: 5px;
    }

}