.headerClass{
    overflow: hidden;
    background-color: #ebebeb;
    padding: 20px 10px;
    text-align: center;
};
.headerClass a{

    text-decoration: none;
    display: inline;
    color: #965252;
    background-color: #ebebeb;
    margin-left: 25px;

}
.headerClass a:link, a:visited{

    text-decoration: none;
    display: inline;
    color: #965252;
    background-color: #ebebeb;
    margin-left: 25px;

}
.headerClass a:hover, a:focus, a:active{

    text-decoration: none;
    display: inline-block;
    color: #180707;
    background-color: #ebebeb;
    margin-left: 25px;

}
.mainDiv{
    padding: 79px;
}


.titleDiv{
    display: block;
    position: relative;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: #313131;
    text-align: center;
    bottom: 30px;
    cursor: default;
} 
.notationDiv{
    position: relative;
    padding-bottom: 30px;
    cursor: default;
} 

.labelProduct{
    position: relative;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: #5e5e5e;
    padding-bottom: 27px;
    margin-left: 100px;
    margin-right: 340px;
} 
.labelPrice{ 
    position: relative;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: #5e5e5e;
    padding-bottom: 27px;
} 
.labelQuantity{
    position: relative;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: #5e5e5e;
    padding-bottom: 27px;
    margin-left: 80px;
} 
.labelTotal{
    position: relative;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: #5e5e5e;
    padding-bottom: 50px;
    margin-left: 380px;

}

.lineNotation{
    position: relative;
    height: 0px;
    border: 1px solid   rgb(224, 223, 223);
    margin-top: 20px;
}

.eachDiv {
    display: block;
    height: 100px;
    border: 0.8px solid white;
    border-radius: 4px;
}

.imgDiv { 
    
    position: relative;
    padding: 5px;
    width:  70px;
    height: 70px;
    align-self: center;
    left: 30px;
    object-fit: contain;
    display: ruby-text-container;
    top: 70px;
}
.ProductPicUrl {
    position: relative;
    padding: 5px;
    width:  70px;
    height: 70px;
    border: 0.8px solid whitesmoke;
    border-radius: 4px;  
}
.nameDiv {
    display: block;
    padding: 5px;
    position: relative;
    left: 100px;
    width: 350px;
    height: 30px;
    bottom: 10px;

} 
.productName{
    color: rgb(47, 95, 117);
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    display: block;
    padding: 5px;
    position: relative;
    float: left;
    left: 20px;
}
.priceDiv {
    display: block;
    padding: 5px;
    left: 477px;
    bottom: 37px;
    width: 100px;
    height: 30px;
    position: relative;
} 

.productPrice{
    color: rgb(168, 70, 66);
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13px;
    display: block;
    width: 120px;
    float: left;
}
.quantityDiv {
    position: relative;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border: 1.5px solid rgb(224, 223, 223);
    width: 90px;
    height: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100%;
    color: rgb(153, 150, 150);
    text-align: justify;
    padding-left: 10px;
    padding-top: 5px;
    left: 590px;
    bottom: 80px;
    width: 360px;
} 
.totalDiv {
    color: rgb(168, 70, 66);
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13px;
    display: block;
    width: 120px;
    position: relative;
    bottom: 104px;
    left: 1030px;

} 

.totalsDiv{
    display: block;
    width: 500px;
    height: 100px;
    position: relative;
    left: 700px;
    top: 100px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: #313131;
}


    
.line{
    position: relative;
    height: 0px;
    border: 1px solid   rgb(224, 223, 223);
    margin-top: 20px;
    width: 421px;
}

.lineColored{
    position: relative;
    height: 0px;
    border: 1px solid   rgb(228, 185, 46);
    margin-top: 20px;
    width: 105px;
    bottom: 22px;

}
 
.labelSum{
    color: rgb(7, 38, 53);
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 11px;
    display: block;
    padding: 5px;
    position: relative;
    left: 20px;  
    width: 50px 
}

.sum{
    color: rgb(7, 38, 53);
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 11px;
    display: block;
    padding: 5px;
    position: relative;
    width: 50px;
    bottom: 23px;
    left: 350px;
}