.headerClass{
    overflow: hidden;
    background-color: #ebebeb;
    padding: 20px 10px;
    text-align: center;
};
.headerClass a{

    text-decoration: none;
    display: inline-block;
    color: #965252;
    background-color: #ebebeb;
    margin-left: 25px;

}
.headerClass a:link, a:visited{
    text-decoration: none;
    display: inline-block;
    color: #965252;
    background-color: #ebebeb;
    margin-left: 25px;

}
.headerClass a:hover, a:focus, a:active{
    text-decoration: none;
    display: inline-block;
    color: #180707;
    background-color: #ebebeb;
    margin-left: 25px;

}
.mainDiv{
    position: relative;;
    top: 50px;
    padding-left: 100px;
}

/* ......................................... */

.labelLUAM{
    position: relative;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: #5e5e5e;
    padding-bottom: 27px;
    margin-right: 340px;
}  

.line{
    position: relative;
    height: 0px;
    border: 1px solid   rgb(224, 223, 223);
    margin-top: 20px;
    width: 1080px;
}

.lineColored{
    position: relative;
    height: 0px;
    border: 1px solid   rgb(228, 185, 46);
    margin-top: 20px;
    width: 253px;
    bottom: 22px;

}

.para{
    position: relative;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: #5e5e5e;
    padding-bottom: 27px;
    margin-right: 340px;
    cursor: default;
    width: 1085px;
}


.myForm{
    padding: 15px;
}

.labelName{
    display: block;
    position: relative;
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: #6b6b6b;
    left: 10px;
    bottom: 15px;
}

.labelEmail{
    display: block;
    position: relative;
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: #6b6b6b;
    left: 560px;
    bottom: 85px;
    width: 40px;
}

.labelSub{
    display: block;
    position: relative;
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: #6b6b6b;
    left: 10px;
    top: -50px;
}

.labelMsg{
    display: block;
    position: relative;
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: #6b6b6b;
    left: 10px;
    bottom: 20px;

}

.submit{
    position: relative;
    left: 100px;
    top: -25px;
    background-color: rgb(219, 196, 66); /* Green */
    color: rgb(41, 39, 32);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px; 
    height: 40px;
    width: 150px; 
    cursor: pointer; 
} 

.inputName{
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    position: relative;
    left: 10px;
} 



.inputEmail{
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    position: relative;
    bottom: 74px;
    left: 550px;
}
 
    

.inputSub{
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    position: relative;
    left: 10px;
    bottom: 40px;
}


.inputMsg{
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    position: relative;
    left: 10px;
    bottom: 10px;
    height: 100px;
}
