.headerClass{
    overflow: hidden;
    background-color: #ebebeb;
    padding: 20px 10px;
    text-align: center;
};
.headerClass a{

    text-decoration: none;
    display: inline;
    color: #965252;
    background-color: #ebebeb;
    margin-left: 25px;

}
.headerClass a:link, a:visited{

    text-decoration: none;
    display: inline;
    color: #965252;
    background-color: #ebebeb;
    margin-left: 25px;

}
.headerClass a:hover, a:focus, a:active{

    text-decoration: none;
    display: inline-block;
    color: #180707;
    background-color: #ebebeb;
    margin-left: 25px;

}
.mainDiv{
    width: auto;
    height: auto;
    align-self: center;
    padding-top: 35px;
    padding-left: 95px;
}
.secDiv{
    /* display: inline; */
    border: 0.8px solid white;
    border-radius: 4px;
    padding: 8px;
    width:  260px;
    height: 340px;
    float: left;
    cursor: pointer;
    object-fit: contain;
    display: ruby-text-container;
}
.secDiv:hover ,.secDiv:focus , .secDiv:active {
    border: 0.8px solid rgb(190, 184, 184);

}

.ProductPicUrl{
    border: 0.8px solid whitesmoke;
    border-radius: 4px;
    padding: 5px;
    width:  250px;
    height: 240px;
    object-fit: contain;
    clip: rect(0px,200px,200px,0px);
}

.productName{
    color: rgb(47, 95, 117);
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    display: block;
    width: 260px;
    float: left;
    padding: 5px;
}
  
.productPrice{
    color: rgb(233, 39, 33);
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    display: block;
    width: 220px;
    float: left;
}

.cartIcon{
    background-color: transparent;
    border: 0.8px solid whitesmoke;
    border-radius: 50%;
    width:  35px;
    height: 35px;
    float: right;
    padding: 1.5px;
    cursor: pointer;
}
.cartIcon:hover ,.cartIcon:focus , .cartIcon:active {
    border: 0.8px solid rgb(255, 208, 0);
    background-color: rgb(255, 208, 0);
}
/* 
------------------------------- Check Out Div Style 
*/

   

   .checkOut {
    display: inline-flex;
    position: fixed;
    right: 10px;
    background-color: rgb(228, 222, 222);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;    
    width: auto;
    height: 30px; 
    padding: 5px;
    bottom: 50%;
    
}


    
.number_Div {

    font-size: 1.45vw;
    color: rgb(41, 40, 40);
    background-color: rgb(245, 210, 10);
    border-color: rgb(245, 210, 10);
	border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;     height: 25px;
    min-width: 25px;
    text-align: center;
    margin-left: 10px;
    margin-top: 3px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
}
   
.productPrice_checkOut {
    color: rgb(41, 40, 40);
    font-family:  sans-serif;
    font-size: 80%;
    display: inline-flex;
    margin-left: 5px;
    margin-top: 7.5px;
    padding-left: 5px;
}
 
.img_checkOut {
    display: inline-flex;
    position: relative;
    background-color: transparent;
    border-radius: 50%;
    width:  20px;
    height: 20px;
    margin-left: 5px;
    margin-top: 5px;
}


.checkOut_word {
    display: inline-flex;
    color: rgb(41, 40, 40);
    font-family:  sans-serif;
    font-size: 80%;
    display: inline-block;
    margin-left: 5px;
    margin-right: 25px;
    margin-top: 7.5px;
    cursor: pointer;
}

.checkOut_word:hover ,.checkOut_word:focus , .checkOut_word:active {
    color: #521825;
    text-decoration: underline;

}
