/* singleProductPage Style */

.headerClass{
    overflow: hidden;
    background-color: #ebebeb;
    padding: 20px 10px;
    text-align: center;
};
.headerClass a{

    text-decoration: none;
    display: inline-block;
    color: #965252;
    background-color: #ebebeb;
    margin-left: 25px;

}
.headerClass a:link, a:visited{
    text-decoration: none;
    display: inline-block;
    color: #965252;
    background-color: #ebebeb;
    margin-left: 25px;

}
.headerClass a:hover, a:focus, a:active{
    text-decoration: none;
    display: inline-block;
    color: #180707;
    background-color: #ebebeb;
    margin-left: 25px;

}
.mainDiv{
    position: relative;;
    top: 50px;
    padding-left: 100px;
}

.imgDiv{
    display: block;
    border: 0.8px solid white;
    border-radius: 4px;
    padding: 8px;
    width:  335px;
    height: 305px;
    float: left;
}

.imgDiv:hover ,.imgDiv:focus , .imgDiv:active {
    border: 0.8px solid rgb(190, 184, 184);

}

.ProductPicUrl{
    border: 0.8px solid whitesmoke;
    border-radius: 4px;
    padding: 5px;
    width:  330px;
    height: 300px;
}


.categoryDiv{
    position: relative;
    border: 0.8px solid white;
    border-radius: 4px;
    padding-left: 100px;
    padding-right: 65px;
    padding-bottom: 100px;
    width:  350px;
    height: 305px;
    float: left;
}
            
.Category_Word{
    display: block;
    position: relative;
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: #6b6b6b;
    padding-bottom: 27px;
}

.productName{
    display: block;
    position: absolute;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #16375c;
    top: 25px;
}  

.productDescription{
    display: block;
    position: relative;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #1f1f1f; 
    line-height: 22px;

} 
           
.avilabilityDiv{
    position: relative;
    background-color: rgb(253, 253, 253);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;    
    width: 200px;
    height: 30px; 
    border: 2.2px solid rgb(224, 223, 223);
    width:  250px;
    height: 330px;
    float: left;
}
            
.productStatus{
    position: relative;
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    color: #6b6b6b;
    top: 35px;
    left: 30px;
}

.instock_word{
    font: bold;
    position: relative;
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: #41912d;
    top: 35px;
    left: 30px;
}

.outstock_word{
    font: bold;
    position: relative;
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: #912d2d;
    top: 35px;
    left: 30px;
} 

.line{
    position: relative;
    width: 190px;
    height: 0px;
    border: 1px solid  rgb(224, 223, 223);
    top: 50px;
    left: 30px;
}

.productPrice{
    position: relative;
    color: rgb(59, 56, 56);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    display: block;
    bottom:  20px;
    left: 30px;
}

.Quantity_Word{
    position: relative;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    color: #817e7e;
    top:  140px;
    left: 30px;
}

.QuantityDiv{
    position: relative;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border: 1.5px solid rgb(224, 223, 223);
    width: 115px;
    height: 35px;
    top: 143px;
    left: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100%;
    color: rgb(153, 150, 150);
    text-align: justify;
    padding-left: 10px;
    padding-top: 5px;
}

.addToCartButton{
    position: relative;
    background-color: rgb(224, 223, 223);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px; 
    border: 1.5px solid rgb(238, 209, 44);   
    width: 150px;
    height: 30px;
    top:185px;
    left: 30px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100%;
    color:  rgb(255, 255, 255);
    text-align: left;
    padding-top: 10px; 
    padding-left: 35px;   
    cursor: pointer;
}

.addToCartButton:hover, .addToCartButton:focus, .addToCartButton:active{
   background-color: rgb(238, 209, 44);
   cursor: pointer; 
}
.cartIcon{
    position: relative;
    background-color: transparent;
    border-radius: 50%;
    width:  20px;
    height: 20px;
    float: left;
    margin-right: 10px;
}


/* div Checkout */
.checkOut {
    display: inline-flex;
    position: fixed;
    right: 10px;
    background-color: rgb(228, 222, 222);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;    
    width: auto;
    height: 30px; 
    padding: 5px;
    bottom: 57%;
    
}
    
.number_Div {

    font-size: 1.45vw;
    color: rgb(41, 40, 40);
    background-color: rgb(245, 210, 10);
    border-color: rgb(245, 210, 10);
	border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;     height: 25px;
    min-width: 25px;
    text-align: center;
    margin-left: 10px;
    margin-top: 3px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
}
   
.productPrice_checkOut {
    color: rgb(41, 40, 40);
    font-family:  sans-serif;
    font-size: 80%;
    display: inline-flex;
    margin-left: 5px;
    margin-top: 7.5px;
    padding-left: 5px;
}
 
.img_checkOut {
    display: inline-flex;
    position: relative;
    background-color: transparent;
    border-radius: 50%;
    width:  20px;
    height: 20px;
    margin-left: 5px;
    margin-top: 5px;
}


.checkOut_word {
    display: inline-flex;
    color: rgb(41, 40, 40);
    font-family:  sans-serif;
    font-size: 80%;
    display: inline-block;
    margin-left: 5px;
    margin-right: 25px;
    margin-top: 7.5px;
    cursor: pointer;
}
.checkOut_word:hover ,.checkOut_word:focus , .checkOut_word:active {
    color: #521825;
    text-decoration: underline;

}


